:root {
    --text-color: #757575;
    --title-color: #212121;
    --accent-color: #2196f3;
    --white: #ffffff;
    --black: #000000;
    --white_alpha: rgb(255, 255, 255, 0.6);
    --bgr-dark: #2f303a;
    --card-set-gap: 30px;
    --border-client: #afb1b8;
}