.address {
    font-style: normal;
    
}

.address-map {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--white);
    display: inline-block;
    margin-bottom: 9px;
}

.address-tel {
    margin-top: 9px;
}

.email,
.tel {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--white_alpha);
}