.footer {
    background: var(--bgr-dark);
    /* height: 252px; */
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

.wrap {
    display: flex;
}

.contact-title {
    margin-bottom: 20px;
}

.footer-logo {
    @include font(700, 26px, 1.19, 0.03em);
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;
    // letter-spacing: 0.03em;
    color: var(--white);
}